<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>{{ title }} - FlaskBlog</title>
	{% else %}
	<title>Bem Vindo ao FlaskBlog</title>
	{% endif %}
</head>
<body>
	<div>Flaskblog:
		<a href="/index">Inicial</a>
		<a href="/login">Entrar</a>
	</div>
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block content %}
	<!-- pages -->
	{% endblock %}
</body>
</html>